services:
  # A Docker web service
  - type: web
    name: proxylite
    env: docker
    runtime: image
    
    image: 
        url: docker.io/proxylite/proxyservice  # optional
    region: frankfurt # optional (defaults to oregon  frankfurt ohio singapore)
    plan: free # optional (defaults to starter)
    healthCheckPath: /
    envVars: 
     - key: PORT
        value: 8080
     - key: USER_ID
       value: 494374
       #sync: false
